body,
html {
    height: 100%;
    background-color: #343a40;
}

.nav {
    width: 100%;
    position: absolute;
    text-align: center;
}

.nav div.main_list {
    height: 65px;
    float: right;
    position: absolute;
    left: 70%;
}

.nav div.main_list ul {
    width: 100%;
    height: 65px;
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
}

.nav div.main_list ul li {
    width: auto;
    height: 65px;
    padding: 0;
    padding-right: 3rem;
    font-family: Helvetica Neue LT Pro;
    font-style: 83 Heavy Extended;
}

.nav div.main_list ul li a {
    text-decoration: none;
    color: #fff;
    line-height: 65px;
    font-size: 1.2rem;
}

.nav div.main_list ul li a:hover {
    color: #3b86ff;
}

.nav div.container {
    width: 100%;
    margin-left: 5%;
    margin-top: 1%;
}


/* Wallpaper */

#wallpaper .contents {
    width: 100%;
    display: inline-flex;
}


/* Title */

#wallpaper #title {
    text-align: center;
}

#title .logo {
    width: 8%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 1%;
    min-width: 100px;
}

#title .logo img:hover {
    transform: scale(1);
}

#amtitle {
    font-family: Helvetica Neue LT Pro;
    font-style: 83 Heavy Extended;
    font-size: 150%;
    text-shadow: 2px 2px black;
    padding: 15% 0 2% 0;
    text-align: center;
}

#wallpaper .contents .text {
    width: 100%;
    margin: 4% 5% 10% 5%;
    font-family: Georgia;
    font-size: 150%;
    text-shadow: 2px 2px black;
    border: 2px;
    border-radius: 16px;
    padding: 2% 2% 2% 2%;
    background-color: rgba(0, 0, 0, 0.4);
    text-align: center;
}

a {
    color: white;
    text-decoration: none;
    background-color: transparent;
}


/* Footer */

#footer {
    left: 0;
    bottom: 0;
    height: 30%;
    width: 100%;
    background-color: black;
    color: white;
    text-align: center;
}

footer {
    background-color: black;
}

footer a {
    color: white;
}


/* ======================== Mobile =================== */

@media screen and (max-width: 480px) {
    /* ==================== Top Bar ==================== */
    .nav {
        width: 100%;
        position: absolute;
        text-align: center;
    }
    .nav div.main_list {
        height: 65px;
        float: right;
        position: absolute;
        left: 5%;
    }
    .nav div.main_list ul {
        width: 100%;
        height: 65px;
        display: flex;
        list-style: none;
        margin: 0;
        padding: 0;
    }
    .nav div.main_list ul li {
        width: auto;
        height: 65px;
        padding: 0;
        padding-right: 1rem;
        font-family: Helvetica Neue LT Pro;
        font-style: 83 Heavy Extended;
    }
    .nav div.main_list ul li a {
        text-decoration: none;
        color: #fff;
        line-height: 65px;
        font-size: 1rem;
    }
    .nav div.main_list ul li a:hover {
        color: #3b86ff;
    }
    .nav div.container {
        width: 100%;
        margin-left: 5%;
        margin-top: 1%;
    }
    #navshadow {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 20%;
        background-image: linear-gradient(to top, rgba(255, 0, 0, 0), rgba(0, 0, 0, 1));
        opacity: 0.8;
    }
}