

body, html {
    height: 100%;
    background-color: #343a40 ;
}
img:hover {
    transform: scale(1.1);
}
.nav {
    width: 100%;
    position: absolute;
    text-align: center;
}

.nav div.logo {
    float: left;
    width: auto;
    height: auto;
    min-width: 50px;
}

.nav div.main_list {
    height: 65px;
    float: right;
    position: absolute;
    left: 70%;
}

.nav div.main_list ul {
    width: 100%;
    height: 65px;
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
}

.nav div.main_list ul li {
    width: auto;
    height: 65px;
    padding: 0;
    padding-right: 3rem;
    font-family: Helvetica Neue LT Pro;
    font-style: 83 Heavy Extended;
}

.nav div.main_list ul li a {
    text-decoration: none;
    color: #fff;
    line-height: 65px;
    font-size: 1.2rem;
}

.nav div.main_list ul li a:hover {
    color: #00E676;
}
.nav div.container{
    width: 100%;
    margin-left: 5%;
    margin-top: 1%;
}


#logo{
    width: 10%;
}

#navshadow {
    position: absolute;
    top: 0;
    left: 0;
    width:100%;
    height: 20%;
    background-image: linear-gradient(to top, rgba(255,0,0,0), rgba(0,0,0,1));
    opacity:0.8;
}

/* Wallpaper */
#wallpaper { 
    /* The image used */
    background-image: url("../pics/checkout bg.jpg");
    height: 150%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
/* Form */
form{
    width: 80%;
    margin: auto;
    padding: 5%;
    margin-top: 15%;
    color: white;
    background-color:  rgba(255,255,255,0.3);
    border-radius: 15px;
}


/* Footer */
#footer{
    bottom: 0;
    left: 0;
    height: 30%;
    width: 100%;
    background-color: black;
    color: white;
    text-align: center;
}

footer{
    background-color: black;
}

footer a{
    color: white;
}

@media screen and (max-width: 1480px) {
    .nav div.main_list {
        height: 65px;
        float: right;
        position: absolute;
        left: 60%;
    }
}
@media screen and (max-width: 1250px) {
    .nav div.main_list {
        height: 65px;
        float: right;
        position: absolute;
        left: 55%;
    }
    .nav div.main_list ul li a {
        text-decoration: none;
        color: #fff;
        line-height: 65px;
        font-size: 1.1rem;
    } 
}
@media screen and (max-width: 1000px) {
    .nav div.main_list {
        height: 65px;
        float: right;
        position: absolute;
        left: 50%;
    }
    .nav div.main_list ul li a {
        text-decoration: none;
        color: #fff;
        line-height: 65px;
        font-size: 1rem;
    } 
}

@media screen and (max-width: 500px) {
    .nav div.main_list {
        height: 65px;
        float: right;
        position: absolute;
        left: 30%;
    }
    .nav div.main_list ul li a {
        text-decoration: none;
        color: #fff;
        line-height: 65px;
        font-size: 0.7rem;
    } 
    #wallpaper { 
        /* The image used */
        background-image: url("../pics/checkout bg.jpg");
        height: 110%;
        background-position: top;
        background-repeat: no-repeat;
        background-size: cover;
    }
}
