body,
html {
    height: 100%;
    background-color: #343a40;
}

.nav {
    width: 100%;
    position: absolute;
    text-align: center;
}

.nav div.main_list {
    height: 65px;
    float: right;
    position: absolute;
    left: 70%;
}

.nav div.main_list ul {
    width: 100%;
    height: 65px;
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
}

.nav div.main_list ul li {
    width: auto;
    height: 65px;
    padding: 0;
    padding-right: 1rem;
    font-family: Helvetica Neue LT Pro;
    font-style: 83 Heavy Extended;
}

.nav div.main_list ul li a {
    text-decoration: none;
    color: #fff;
    line-height: 65px;
    font-size: 1.2rem;
}

.nav div.main_list ul li a:hover {
    color: #3b86ff;
}

.nav div.container {
    width: 100%;
    margin-left: 5%;
    margin-top: 1%;
}

#navshadow {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 20%;
    background-image: linear-gradient(to top, rgba(255, 0, 0, 0), rgba(0, 0, 0, 1));
    opacity: 0.8;
}


/* ================ Wallpaper ============== */

#wallpaper {
    /* The image used */
    background-image: url("../pics/Gallery\ Cityscape\ Wallpaper.jpg");
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}


/* ================ Gallery ============== */

.row {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    margin-right: 0;
    margin-left: -1%;
}


/* ================ Gallery Modal ============== */

.modal-dialog {
    margin-top: 0;
}

#img {
    height: 100vh;
    width: auto;
    margin-left: auto;
    margin-right: auto;
}

@media screen and (max-width: 992px) {
    #img {
        width: 100%;
        height: auto;
        margin-left: auto;
        margin-right: auto;
    }
}

#imgH {
    width: 100%;
    height: auto;
    margin-left: auto;
    margin-right: auto;
}

.carousel-control-prev-icon,
.carousel-control-next-icon {
    filter: invert(50%);
}


/* ================ Footer ============== */

#footer {
    left: 0;
    bottom: 0;
    height: 30%;
    width: 100%;
    background-color: black;
    color: white;
    text-align: center;
}

footer {
    background-color: black;
}

footer a {
    color: white;
}


/* ======================== Mobile =================== */

@media screen and (max-width: 480px) {
    .nav {
        width: 100%;
        position: absolute;
        text-align: center;
    }
    .nav div.main_list {
        height: 65px;
        float: left;
        position: absolute;
        left: 5%;
    }
    .nav div.main_list ul {
        width: 100%;
        height: 65px;
        display: flex;
        list-style: none;
        margin: 0;
        padding: 0;
    }
    .nav div.main_list ul li a {
        text-decoration: none;
        color: #fff;
        line-height: 65px;
        font-size: 1rem;
    }
    .nav div.main_list ul li a:hover {
        color: #3b86ff;
    }
    .nav div.container {
        width: 100%;
        margin-left: 5%;
        margin-top: 1%;
    }
    #navshadow {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 20%;
        background-image: linear-gradient(to top, rgba(255, 0, 0, 0), rgba(0, 0, 0, 1));
        opacity: 0.8;
    }
    .modal-dialog {
        margin-top: 0;
        margin-right: 0;
    }
    #img {
        width: 100%;
        height: auto;
        margin-left: auto;
        margin-right: auto;
    }
}