body,
html {
    height: 100%;
    background-color: #343a40;
}

.nav {
    width: 100%;
    position: absolute;
    text-align: center;
}

.nav div.main_list {
    height: 65px;
    float: right;
    position: absolute;
    left: 70%;
}

.nav div.main_list ul {
    width: 100%;
    height: 65px;
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
}

.nav div.main_list ul li {
    width: auto;
    height: 65px;
    padding: 0;
    padding-right: 3rem;
    font-family: Helvetica Neue LT Pro;
    font-style: 83 Heavy Extended;
}

.nav div.main_list ul li a {
    text-decoration: none;
    color: #fff;
    line-height: 65px;
    font-size: 1.2rem;
}

.nav div.main_list ul li a:hover {
    color: #3b86ff;
}

.nav div.container {
    width: 100%;
    margin-left: 5%;
    margin-top: 1%;
}


/* Wallpaper */

#wallpaper {
    /* The image used */
    background-image: url("../pics/HomeBG.jpg");
    height: 120%;
    background-position: center top;
    background-repeat: no-repeat;
    background-size: cover;
}


/* Title */

#wallpaper #title {
    padding-top: 7%;
    text-align: center;
}

#title .name {
    font-family: Cambria;
    font-style: italic;
    font-size: 600%;
    color: white;
    margin-top: 1%;
}

#title .desc {
    font-family: Cambria;
    font-size: 110%;
    color: white;
}

#buttons ul {
    position: absolute;
    text-align: center;
    top: 95%;
    width: 100%;
    right: 4%;
}

#buttons ul li {
    display: inline;
    font-family: Georgia;
    font-style: bold;
    font-size: 200%;
    margin: 0 5% 0 5%;
}

#buttons ul li a {
    color: white;
    text-shadow: 2px 2px black;
}

#icon ul {
    position: absolute;
    text-align: center;
    top: 105%;
    width: 100%;
    right: 2%;
}

#icon ul li {
    display: inline;
    font-family: Georgia;
    font-style: bold;
    font-size: 200%;
    margin: 0 2% 0 2%;
}

#icon ul li a {
    color: white;
}


/* About Me */

#aboutme {
    /* The image used */
    background-image: url("../pics/About Me BG.jpg");
    height: 140%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

#aboutme .contents {
    width: 100%;
    display: inline-flex;
}

#amtitle {
    font-family: Helvetica Neue LT Pro;
    font-style: 83 Heavy Extended;
    font-size: 350%;
    padding: 10% 0 3% 0;
}

#aboutme .contents .text {
    margin: 5% 10% 0 10%;
    font-family: Georgia;
    font-style: bold;
    font-size: 150%;
    text-shadow: 1.5px 1.5px black;
}

#aboutme .contents .img {
    width: 30%;
    margin: 0 5% 0 3%;
}

#aboutme #button {
    margin: 0 5% 0 5%;
    background-color: transparent;
    border-style: none;
    width: 20%;
}


/* Footer */

#footer {
    left: 0;
    bottom: 0;
    height: 30%;
    width: 100%;
    background-color: black;
    color: white;
    text-align: center;
}

footer {
    background-color: black;
}

footer a {
    color: white;
}

@media screen and (max-width: 800px) {
    .nav div.main_list {
        height: 65px;
        float: right;
        position: absolute;
        left: 40%;
    }
    .nav div.main_list ul li a {
        text-decoration: none;
        color: #fff;
        line-height: 65px;
        font-size: 0.7rem;
    }
    #title .name {
        font-family: Cambria;
        font-style: italic;
        font-size: 400%;
        color: white;
        margin-top: 10%;
    }
    #title .desc {
        font-family: Cambria;
        font-size: 110%;
        margin-top: 5%;
        color: white;
    }
    #title .logo {
        width: 8%;
        display: block;
        margin-left: auto;
        margin-right: auto;
        margin-top: 10%;
        min-width: 100px;
    }
    #icon ul {
        position: absolute;
        text-align: center;
        top: 110%;
        width: 100%;
        right: 2%;
    }
    #aboutme .contents .text {
        width: 100%;
        font-family: Georgia;
        font-style: bold;
        font-size: 140%;
        text-shadow: 2px 2px black;
    }
    #aboutme #button {
        margin: 0 5% 0 5%;
        background-color: transparent;
        border-style: none;
        width: 80%;
    }
}


/* ======================== Mobile =================== */

@media screen and (max-width: 480px) {
    /* ==================== Top Bar ==================== */
    .nav {
        width: 100%;
        position: absolute;
        text-align: center;
    }
    .nav div.main_list {
        height: 65px;
        float: right;
        position: absolute;
        left: 5%;
    }
    .nav div.main_list ul {
        width: 100%;
        height: 65px;
        display: flex;
        list-style: none;
        margin: 0;
        padding: 0;
    }
    .nav div.main_list ul li {
        width: auto;
        height: 65px;
        padding: 0;
        padding-right: 1rem;
        font-family: Helvetica Neue LT Pro;
        font-style: 83 Heavy Extended;
    }
    .nav div.main_list ul li a {
        text-decoration: none;
        color: #fff;
        line-height: 65px;
        font-size: 1rem;
    }
    .nav div.main_list ul li a:hover {
        color: #3b86ff;
    }
    .nav div.container {
        width: 100%;
        margin-left: 5%;
        margin-top: 1%;
    }
    #navshadow {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 20%;
        background-image: linear-gradient(to top, rgba(255, 0, 0, 0), rgba(0, 0, 0, 1));
        opacity: 0.8;
    }
    /* ==================== Title ==================== */
    #title .name {
        font-family: Cambria;
        font-style: italic;
        font-size: 400%;
        color: white;
        margin-top: 15%;
    }
    #title .desc {
        font-family: Cambria;
        font-size: 110%;
        color: white;
    }
    #buttons ul {
        position: absolute;
        text-align: center;
        top: 75%;
        width: 100%;
        right: 4%;
    }
    #buttons ul li {
        display: inline;
        font-family: Georgia;
        font-style: bold;
        font-size: 200%;
        margin: 0 5% 0 5%;
    }
    #buttons ul li a {
        color: white;
        text-shadow: 2px 2px black;
    }
    #icon ul {
        position: absolute;
        text-align: center;
        top: 105%;
        width: 100%;
        right: 5%;
    }
    #amtitle {
        font-size: 200%;
    }
    #aboutme .contents .text {
        width: 100%;
        font-family: Georgia;
        font-style: bold;
        font-size: 100%;
        text-shadow: 1px 1px black;
    }
}